  header {
    margin: 40px auto;
  }
  header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #1A8874;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }